# Build artifacts
/.deps/
/Makefile
/ar.o
/arscan.o
/build.sh
/commands.o
/config.h
/config.log
/config.status
/config/Makefile
/crt1.o
/crti.o
/crtn.o
/default.o
/dir.o
/doc/Makefile
/expand.o
/file.o
/fnmatch.o
/function.o
/getloadavg.o
/getopt.o
/getopt1.o
/glob.o
/glob/.deps/
/glob/Makefile
/hash.o
/implicit.o
/job.o
/libc+tcc.a
/main.o
/make
/misc.o
/po/Makefile
/po/Makefile.in
/po/POTFILES
/read.o
/remake.o
/remote-stub.o
/rule.o
/signame.o
/stamp-h1
/variable.o
/version.o
/vpath.o
